.container {
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.container__searchAndButton {
  width: 500px;
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
